<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <lable for="name">Enter name: </lable>
    <input type="text" th:field="*{name}" id="name"/>
    <lable for="age">Enter age: </lable>
    <input type="text" th:field="*{age}" id="age"/>
    <lable for="email">Enter email: </lable>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/{id}/delete(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>